<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTP</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../public/js/index.mjs"></script>
</head>

<body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="lista-productos">
        {{#each productos}}
        <li>{{this.title}} - {{this.price}}</li>
        {{/each}}
    </ul>

    <h2>Agregar Producto</h2>
    <input type="text" id="title" placeholder="Título">
    <input type="text" id="price" placeholder="Precio">
    <button onclick="agregarProducto()">Agregar</button>

    <h2>Eliminar Producto</h2>
    <input type="text" id="titleEliminar" placeholder="Título">
    <button onclick="eliminarProducto()">Eliminar</button>
      <script>
        socket.on('productos', (productos) => {
            const lista = document.getElementById('lista-productos');
            lista.innerHTML = '';
            productos.forEach(producto => {
                const li = document.createElement('li');
                li.textContent = `${producto.title} - ${producto.price}`;
                lista.appendChild(li);
            });
        });

        const agregarProducto = () => {
            const title = document.getElementById('title').value;
            const price = document.getElementById('price').value;
            socket.emit('nuevoProducto', { title, price });
        };

        const eliminarProducto = () => {
            const title = document.getElementById('titleEliminar').value;
            socket.emit('eliminarProducto', { title });
        };
    </script>
</body>

</html>